
<html>
<head>
    <title>Webserver GO GitHub API</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://codepen.io/anon/pen/aWapBE.js"></script>
</head>
<body>
    <span>Faire une recherche par langage : </span>
    <br>
    <form action="/search" method="GET">
    	<input type="text" name="language">
    	<input type="submit" value="Rechercher">
    </form>

    <hr>

    <h1>Liste des dépôts github</h1>
    <ul>
        {{range .Repos}}
            <li><a target="_blank" href="{{.Link}}">{{.FullName}}</a> - {{.Description}} [<a href="/details/{{.Name}}">Détails</a>]</li>
        {{end}}
    </ul>

    <hr>

    <h1>Statistiques sur les langages utilisés</h1>
    <ul>
        {{range .Languages}}
            <li>{{.LanguageName}}: {{.LanguageNumber}} lines</li>
        {{end}}
    </ul>

</body>
</html>
